 :root{
    --primeira-cor: #F0F7EE;
    --segunda-cor: #C4D7F2;

    --borda: #AFDEDC;

    --fundo: #91A8A4;
    --texte: #776871;
 }
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo)
    color: var(--texte)
    font-size: 30px;
}

h1 {
    color: var(--primeira-cor)
}

.conteudo{
    display: flex;

    height: 200px;  
}

.conteudo> .esquerda> imag{
    width: 70px;
    height: 70px;
}